body {
}

.CurveBorders {
    width: 750px;
    border-radius: 15px;
    background: #e6e6e6;
    padding: 20px;
}

.toprow {
    border-radius: 15px;
    background: #b9b8b8;
    height: 10px;  
}

.btn {
    border-radius: 15px;
    background-color: #b9b8b8;
    border: 1px solid #7a7a7a;
}
.btn:active {
    position: relative;
    top: 1px;
}

.table {
    width: 750px;
}

.auto-style1 {
    width: 744px;
}

.auto-style2 {
    width: 220px;
}

.auto-style4 {
    width: 220px;
    text-align: center;
}

.auto-style5 {
    text-align: center;
}

.auto-style6 {
    text-align: right;
}

.auto-style7 {
    font-size: x-large;
}

.auto-style8 {
    font-size: medium;
}

.auto-style9 {
    width: 225px;
    height: 225px;
}

.auto-style10 {
    width: 37px;
    height: 33px;
}

.auto-style11 {
    width: 22px;
    height: 22px;
}